[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-04-01 12:34:54.314386
createcoverage = 1.5
entrypoints = 0.3
flake8 = 3.7.9
keyring = 21.2.0
mccabe = 0.6.1
pathtools = 0.1.2
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pycodestyle = 2.5.0
pyflakes = 2.1.1
watchdog = 0.10.2

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.41

# Required by:
# check-manifest==0.41
pep517 = 0.8.1

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.9
